* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b1c68f;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.buttons-size {
  width: 65px;
}

.big-logo {
  width: 150px;
  height: 70px;
}

.hero {
  text-align: center;
  margin-top: 20px;
}

.slogan {
  font-size: 12px;
  letter-spacing: 4px;
}

.promo-box {
  margin: 30px auto;
  width: 90%;
  height: 220px;
  max-width: 600px;
  border: 4px solid white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
}

.promo-text h2 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: bold;
}

.salad img {
  width: 220px;
}
.salad {
  position: absolute;
  left: 185px;
  margin-top: 40px;
}
.head-wrap {
  height: 250px;
}
.wave {
  /* position: absolute; */
  /* bottom: 640px; */
}
.wave img {
  width: 100%;
}
.contact-us img {
  width: 100%;
}
.contact-us {
  position: relative;
}
.button {
  position: absolute;
  max-width: 500px;
  left: 130px;
  bottom: -20px;
  width: 150px;
}
.button button {
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border: none;
  background-color: #5a792c;
  color: white;
}
.button:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}
.buttons-size:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}
.small-menu-header img {
  width: 80px;
}
.small-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  padding: 10px;
}
.contact-us-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
