* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b1c68f;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}
.gaps {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wraper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
button {
  width: 120px;
  height: 35px;
  border: 1px solid black;
  background-color: #5a792c;
  color: white;
  border-radius: 9px;
}
button:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}
